
.uwu{
    display: flex;
}

.voice{
    text-align: justify;
    margin-top: 20px;
    border: 1px solid black;
    background-color: aliceblue;
    width: 20%;
    height: 19%;
    margin-left: 470px;
    padding-bottom: 20px;
}
body{
    background-color: rgb(17, 12, 12);
}
.img{
    height: 230px;
    width: 252px;
}
.weer{
    margin-left: 160px;
}
.aslan{
  
    border: 1px solid red;
    width: 80px;
    margin-right: 120px;
}
















